{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }}{% endblock title %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-3-4">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    <h1>{{ article.title }}</h1>
                        <p class="post-meta">
                            meta = {'category': <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category  }}</a>, 'date': {{ article.locale_date }}}
                            <div class="meta-tags">
                                tags = [{% for tag in article.tags %}<a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a><span class="comma">, </span>{% endfor %}]
                            </div>
                        </p>
                </header>
            </section>
            {{ article.content }}
            <div class="hr"></div>
            <a href="#" class="go-top">Go Top</a>
            {% if DISQUS_SITENAME %}
                <div class="comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_identifier = "{{ article.url }}";
                        var disqus_url = "{{ SITEURL }}/{{ article.url }}";
                        (function() {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
                </div>
            {% endif %}
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% endblock  %}
