{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }}{% endblock title %}
{% if article.description %}{% block meta_description %}{{ article.description }}{% endblock %}{% endif %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-3-4">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    <h1>{{ article.title }}</h1>
                        <p class="post-meta">
                            meta = {'category': <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category  }}</a>, 'date': {{ article.locale_date }}}
                            <div class="meta-tags">
                                tags = [{% for tag in article.tags %}<a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a><span class="comma">, </span>{% endfor %}]
                            </div>
                        </p>
                </header>
            </section>
            {{ article.content }}
            <div class="hr"></div>
            <a href="#" class="go-top">Go Top</a>
            {% include 'disqus.html' %}
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% endblock  %}
